<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brc.pa.projectdata.mapper.ProjectNodeMapper">
	<insert id="insert" parameterType="projectNode">
		<selectKey order="BEFORE" keyProperty="projectNodeId" resultType="java.lang.Long">
			SELECT PA_ID_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PA_PROJECT_NODE(PROJECT_NODE_ID, NODE_KIND_ID, PARENT_ID, CODE, NAME, SHORT_NAME, ICON_URL, START_MODE, EXECUTION_NUM, TIME_LIMIT, DESCRIPTION,
		FULL_ID, NODE_DEFINE_ID, SEQUENCE, BIZ_KIND_ID, BIZ_ID, STATUS, START_TIME, END_TIME, TRUE_EXECUTION_NUM,GRAPHIC_TEXT, VERSION)
		VALUES(${projectNodeId},${nodeKindId}, ${parentId}, #{code, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{shortName, jdbcType=VARCHAR}, #{iconUrl,
		jdbcType=VARCHAR}, ${startMode}, ${executionNum}, ${timeLimit}, #{description, jdbcType=VARCHAR}, #{fullId, jdbcType=VARCHAR}||'/'||#{projectNodeId},
		${nodeDefineId}, ${sequence}, ${bizKindId}, ${bizId}, ${status}, #{startTime, jdbcType=TIMESTAMP}, #{endTime, jdbcType=TIMESTAMP}, ${trueExecutionNum},
		#{graphicText, jdbcType=CLOB}, PA_VERSION_SEQ.nextval)
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO PA_PROJECT_NODE(PROJECT_NODE_ID, NODE_KIND_ID, PARENT_ID, CODE, NAME, SHORT_NAME, ICON_URL, START_MODE, EXECUTION_NUM, TIME_LIMIT, DESCRIPTION,
		FULL_ID, NODE_DEFINE_ID, SEQUENCE, BIZ_KIND_ID, BIZ_ID, STATUS, START_TIME, END_TIME, TRUE_EXECUTION_NUM, VERSION)
		SELECT PA_ID_SEQ.nextval,t.*,PA_VERSION_SEQ.nextval FROM (
		<foreach collection="list" item="item" index="index" separator="UNION ALL">
			SELECT ${item.nodeKindId} as NODE_KIND_ID, ${item.parentId} as PARENT_ID, #{item.code, jdbcType=VARCHAR} as CODE, #{item.name, jdbcType=VARCHAR} as NAME,
			#{item.shortName, jdbcType=VARCHAR} as SHORT_NAME, #{item.iconUrl, jdbcType=VARCHAR} as ICON_URL, ${item.startMode} as START_MODE, ${item.executionNum} as
			EXECUTION_NUM, ${item.timeLimit} as TIME_LIMIT, #{item.description, jdbcType=VARCHAR} as DESCRIPTION, #{item.fullId, jdbcType=VARCHAR} as FULL_ID,
			${item.nodeDefineId} as NODE_DEFINE_ID, ${item.sequence} as SEQUENCE, ${item.bizKindId} as BIZ_KIND_ID, ${item.bizId} as BIZ_ID, ${item.status} as STATUS,
			#{item.startTime, jdbcType=TIMESTAMP} as START_TIME, #{item.endTime, jdbcType=TIMESTAMP} as END_TIME, ${item.trueExecutionNum} as TRUE_EXECUTION_NUM,
			#{graphicText, jdbcType=CLOB} as GRAPHIC_TEXT FROM DUAL
		</foreach>
		) t
	</insert>

	<delete id="delete" parameterType="java.lang.Long" statementType="CALLABLE">
		{call p_pa_delete_project_node(#{projectNodeId})}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM PA_PROJECT_NODE WHERE PROJECT_NODE_ID IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="update" parameterType="projectNode">
		UPDATE PA_PROJECT_NODE
		<set>
			<if test="nodeKindId != null">
				NODE_KIND_ID=${nodeKindId},
			</if>
			<if test="parentId != null">
				PARENT_ID=${parentId},
			</if>
			<if test="code != null">
				CODE=#{code, jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME=#{name, jdbcType=VARCHAR},
			</if>
			<if test="shortName != null">
				SHORT_NAME=#{shortName, jdbcType=VARCHAR},
			</if>
			<if test="iconUrl != null">
				ICON_URL=#{iconUrl, jdbcType=VARCHAR},
			</if>
			<if test="startMode != null">
				START_MODE=${startMode},
			</if>
			<if test="executionNum != null">
				EXECUTION_NUM=${executionNum},
			</if>
			<if test="timeLimit != null">
				TIME_LIMIT=${timeLimit},
			</if>
			<if test="description != null">
				DESCRIPTION=#{description, jdbcType=VARCHAR},
			</if>
			<if test="fullId != null">
				FULL_ID=#{fullId, jdbcType=VARCHAR},
			</if>
			<if test="nodeDefineId != null">
				NODE_DEFINE_ID=${nodeDefineId},
			</if>
			<if test="sequence != null">
				SEQUENCE=${sequence},
			</if>
			<if test="bizKindId != null">
				BIZ_KIND_ID=${bizKindId},
			</if>
			<if test="bizId != null">
				BIZ_ID=${bizId},
			</if>
			<if test="status != null">
				STATUS=${status},
			</if>
			<if test="startTime != null">
				START_TIME=#{startTime, jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				END_TIME=#{endTime, jdbcType=TIMESTAMP},
			</if>
			<if test="trueExecutionNum != null">
				TRUE_EXECUTION_NUM=${trueExecutionNum},
			</if>
			<if test="graphicText != null">
				GRAPHIC_TEXT=#{graphicText, jdbcType=CLOB},
			</if>
		</set>
		WHERE PROJECT_NODE_ID = #{projectNodeId}
	</update>

	<update id="updateSequence" parameterType="projectNode">
		UPDATE PA_PROJECT_NODE SET SEQUENCE = #{sequence}
		WHERE PROJECT_NODE_ID = #{projectNodeId}
	</update>

	<update id="updateGraphicText" parameterType="java.util.Map">
		UPDATE PA_PROJECT_NODE SET GRAPHIC_TEXT = #{graphicText, jdbcType=CLOB}
		WHERE PROJECT_NODE_ID =
		#{projectNodeId}
	</update>

	<update id="move" parameterType="java.util.Map">
		UPDATE PA_PROJECT_NODE SET PARENT_ID = ${parentId},FULL_ID = #{fullId} WHERE PROJECT_NODE_ID = ${projectNodeId}
	</update>

	<select id="load" parameterType="java.lang.Long" resultType="projectNode">
		SELECT PROJECT_NODE_ID as projectNodeId, NODE_KIND_ID as nodeKindId, PARENT_ID as parentId,
		CODE as code, NAME as name, SHORT_NAME as shortName, ICON_URL as iconUrl, START_MODE as startMode, EXECUTION_NUM as executionNum, TIME_LIMIT as timeLimit,
		DESCRIPTION as description, FULL_ID as fullId, NODE_DEFINE_ID as nodeDefineId, SEQUENCE as sequence, BIZ_KIND_ID as bizKindId, BIZ_ID as bizId, STATUS as
		status, START_TIME as startTime, END_TIME as endTime, TRUE_EXECUTION_NUM as trueExecutionNum, VERSION as version, GRAPHIC_TEXT as graphicText FROM
		PA_PROJECT_NODE WHERE PROJECT_NODE_ID=#{projectNodeId}
	</select>

	<select id="queryAll" parameterType="java.util.Map" resultType="projectNode">
		SELECT t.PROJECT_NODE_ID as projectNodeId, t.NODE_KIND_ID as nodeKindId, t.PARENT_ID as parentId, t.CODE as
		code, t.NAME
		as name, t.SHORT_NAME as shortName, t.ICON_URL as
		iconUrl, t.START_MODE as startMode, t.EXECUTION_NUM as executionNum, t.TIME_LIMIT as timeLimit, t.DESCRIPTION as
		description, t.FULL_ID as fullId, t.NODE_DEFINE_ID as
		nodeDefineId, t.SEQUENCE as sequence, t.VERSION as version, t.BIZ_KIND_ID as bizKindId, t.BIZ_ID as bizId,
		t.STATUS as
		status, t.START_TIME as startTime, t.END_TIME as endTime,t.TRUE_EXECUTION_NUM as trueExecutionNum,t.GRAPHIC_TEXT as graphicText
		FROM PA_PROJECT_NODE t
		<where>
			<if test="nodeKindId != null and nodeKindId > -1 ">
				AND t.NODE_KIND_ID = #{nodeKindId}
			</if>
			<if test="parentId != null and parentId > -1 ">
				AND t.PARENT_ID = #{parentId}
			</if>
			<if test="code != null">
				AND t.CODE like concat(concat('%', #{code}),'%')
			</if>
			<if test="name != null">
				AND t.NAME like concat(concat('%', #{name}),'%')
			</if>
			<if test="bizKindId != null and bizKindId > -1 ">
				AND t.BIZ_KIND_ID = #{bizKindId}
			</if>
			<if test="bizId != null and bizId > -1 ">
				AND t.BIZ_ID = #{bizId}
			</if>
			<if test="fullId != null">
				AND t.FULL_ID like concat(#{fullId},'%')
			</if>
			<if test="sequence != null and sequence > 0">
				AND SEQUENCE = ${sequence}
			</if>
			<if test="startMode != null and startMode > 0">
				AND START_MODE = ${startMode}
			</if>
			<if test="status != null and status > 0">
				AND t.STATUS = ${status}
			</if>
		</where>
		ORDER BY t.SEQUENCE ASC
	</select>

	<select id="queryAllProjectNodeDocumentForArchive" parameterType="java.util.Map" resultType="projectNode">
		SELECT t.PROJECT_NODE_ID as projectNodeId, t.NODE_KIND_ID as nodeKindId, t.PARENT_ID as parentId, t.CODE as
		code, t.NAME as name, t.SHORT_NAME as shortName, t.ICON_URL as
		iconUrl, t.START_MODE as startMode, t.EXECUTION_NUM as executionNum, t.TIME_LIMIT as timeLimit, t.DESCRIPTION as
		description, t.FULL_ID as fullId, t.NODE_DEFINE_ID as
		nodeDefineId, t.SEQUENCE as sequence, t.VERSION as version, t.BIZ_KIND_ID as bizKindId, t.BIZ_ID as bizId,
		t.STATUS as status, t.START_TIME as startTime, t.END_TIME as endTime,t.TRUE_EXECUTION_NUM as trueExecutionNum,(select t1.name from pa_project_node t1
		where t.parent_id=t1.project_node_id) as projectParentName,t3.name as documentClassificationName,t2.node_document_id as
		nodeDocumentId,t2.document_classification_id as documentClassificationId
		FROM PA_PROJECT_NODE t,pa_node_document t2,pa_document_classification t3
		<where>
			t.project_node_id=t2.biz_id and t2.document_classification_id=t3.document_classification_id
			<if test="nodeKindId != null and nodeKindId > -1 ">
				AND t.NODE_KIND_ID = #{nodeKindId}
			</if>
			<if test="parentId != null and parentId > -1 ">
				AND t.PARENT_ID = #{parentId}
			</if>
			<if test="code != null">
				AND t.CODE like concat(concat('%', #{code}),'%')
			</if>
			<if test="name != null">
				AND t.NAME like concat(concat('%', #{name}),'%')
			</if>
			<if test="bizKindId != null and bizKindId > -1 ">
				AND t.BIZ_KIND_ID = #{bizKindId}
			</if>
			<if test="bizId != null and bizId > -1 ">
				AND t.BIZ_ID = #{bizId}
			</if>
			<if test="fullId != null">
				AND t.FULL_ID like concat(#{fullId},'%')
			</if>
			<if test="sequence != null and sequence > 0">
				AND SEQUENCE = ${sequence}
			</if>
			<if test="startMode != null and startMode > 0">
				AND START_MODE = ${startMode}
			</if>
		</where>
		ORDER BY t.SEQUENCE ASC
	</select>

	<select id="slicedQuery" parameterType="java.util.Map" resultType="projectNode">
		<!-- SELECT PROJECT_NODE_ID as projectNodeId, NODE_KIND_ID as nodeKindId, PARENT_ID as parentId, CODE as code, NAME as name, SHORT_NAME as shortName, ICON_URL 
			as iconUrl, START_MODE as startMode, EXECUTION_NUM as executionNum, TIME_LIMIT as timeLimit, DESCRIPTION as description, FULL_ID as fullId, NODE_DEFINE_ID as nodeDefineId, 
			SEQUENCE as sequence, VERSION as version, BIZ_KIND_ID as bizKindId, BIZ_ID as bizId, STATUS as status, START_TIME as startTime, END_TIME as endTime,TRUE_EXECUTION_NUM 
			as trueExecutionNum FROM PA_PROJECT_NODE ORDER BY ${sortname} ${sortorder} OFFSET (${page}-1)*${pagesize} ROWS FETCH NEXT ${pagesize} ROWS ONLY -->
		SELECT PROJECT_NODE_ID as projectNodeId, NODE_KIND_ID as nodeKindId, PARENT_ID as parentId, CODE as code, NAME as name, SHORT_NAME as shortName, ICON_URL as
		iconUrl, START_MODE as startMode, EXECUTION_NUM as executionNum, TIME_LIMIT as timeLimit, DESCRIPTION as description, FULL_ID as fullId, NODE_DEFINE_ID as
		nodeDefineId, SEQUENCE as sequence, BIZ_KIND_ID as bizKindId, BIZ_ID as bizId, STATUS as status, START_TIME as startTime, END_TIME as endTime,
		TRUE_EXECUTION_NUM as trueExecutionNum, VERSION as version, GRAPHIC_TEXT as graphicText FROM (select t.PROJECT_NODE_ID, t.NODE_KIND_ID, t.PARENT_ID, t.CODE, t.NAME, t.SHORT_NAME, t.ICON_URL, t.START_MODE, t.EXECUTION_NUM, t.TIME_LIMIT, t.DESCRIPTION, t.FULL_ID, t.NODE_DEFINE_ID, t.SEQUENCE, t.BIZ_KIND_ID, t.BIZ_ID, t.STATUS, t.START_TIME, t.END_TIME, t.TRUE_EXECUTION_NUM, t.VERSION, t.GRAPHIC_TEXT,ROWNUM RN FROM PA_PROJECT_NODE t
		<where>
			<if test="nodeKindId != null and nodeKindId > -1 ">
				AND NODE_KIND_ID = #{nodeKindId}
			</if>
			<if test="parentId != null and parentId > -1 ">
				AND PARENT_ID = #{parentId}
			</if>
			<if test="code != null">
				AND CODE like concat(concat('%', #{code}),'%')
			</if>
			<if test="name != null">
				AND NAME like concat(concat('%', #{name}),'%')
			</if>
			<if test="bizKindId != null and bizKindId > -1 ">
				AND BIZ_KIND_ID = #{bizKindId}
			</if>
			<if test="bizId != null and bizId > -1 ">
				AND BIZ_ID = #{bizId}
			</if>
			<if test="fullId != null">
				AND FULL_ID like concat(#{fullId},'%')
			</if>
			<if test="sequence != null and sequence > 0">
				AND SEQUENCE = ${sequence}
			</if>
			<if test="startMode != null and startMode > 0">
				AND START_MODE = ${startMode}
			</if>
		</where>
		ORDER BY ${sortname} ${sortorder}
		)
		WHERE RN > (${page}-1)*${pagesize} AND RN &lt;= ${page}*${pagesize}

	</select>

	<select id="getRecordCount" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT COUNT(0) FROM PA_PROJECT_NODE
		<where>
			<if test="nodeKindId != null and nodeKindId > -1 ">
				AND NODE_KIND_ID = #{nodeKindId}
			</if>
			<if test="parentId != null and parentId > -1 ">
				AND PARENT_ID = #{parentId}
			</if>
			<if test="code != null">
				AND CODE like concat(concat('%', #{code}),'%')
			</if>
			<if test="name != null">
				AND NAME like concat(concat('%', #{name}),'%')
			</if>
			<if test="bizKindId != null and bizKindId > 0 ">
				AND BIZ_KIND_ID = #{bizKindId}
			</if>
			<if test="bizId != null and bizId > 0 ">
				AND BIZ_ID = #{bizId}
			</if>
			<if test="nodeDefineId != null and nodeDefineId > 0 ">
				AND NODE_DEFINE_ID = #{nodeDefineId}
			</if>
			<if test="fullId != null">
				AND FULL_ID like concat(#{fullId},'%')
			</if>
			<if test="fullCode != null">
				AND CODE = #{fullCode}
			</if>
			<if test="projectNodeId != null and projectNodeId > 0">
				AND PROJECT_NODE_ID != #{projectNodeId}
			</if>
			<if test="sequence != null and sequence > 0">
				AND SEQUENCE = ${sequence}
			</if>
			<if test="startMode != null and startMode > 0">
				AND START_MODE = ${startMode}
			</if>
		</where>
	</select>

	<select id="getNextSequence" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT NVL(MAX(SEQUENCE),0) + 1 FROM PA_PROJECT_NODE WHERE PARENT_ID = #{parentId}
		AND BIZ_KIND_ID = #{bizKindId} AND BIZ_ID = #{bizId}
	</select>

	<update id="resetProjectNode" parameterType="java.util.Map" statementType="CALLABLE">
		{call p_pa_projectnode_reset(${projectNodeId},${newStatus},#{startTime, jdbcType=TIMESTAMP})}
	</update>

	<select id="checkProjectNodeTimeLimit" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT COUNT(0) FROM PA_PROJECT_NODE
		<where>
			<if test="bizKindId != null and bizKindId > 0 ">
				AND BIZ_KIND_ID = ${bizKindId}
			</if>
			<if test="bizId != null and bizId > 0 ">
				AND BIZ_ID = ${bizId}
			</if>
			<if test="status != null and status > 0">
				AND STATUS = ${status}
			</if>
			<if test="checkStatus != null and checkStatus==1">
				AND (SYSDATE - START_TIME - TIME_LIMIT) > -1 and TIME_LIMIT>0
			</if>
			<if test="checkStatus != null and checkStatus==2">
				AND (SYSDATE - START_TIME - TIME_LIMIT) > 0 and TIME_LIMIT>0
			</if>
		</where>
	</select>
</mapper>