<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean name="mainMemcachedServer" class="java.net.InetSocketAddress">
					<constructor-arg>
						<value>${memcached.main.ip}</value>
					</constructor-arg>
					<constructor-arg>
						<value>${memcached.main.port}</value>
					</constructor-arg>
				  </bean>
    <bean name="standbyMemcachedServer" class="java.net.InetSocketAddress">
					<constructor-arg>
						<value>${memcached.standby.ip}</value>
					</constructor-arg>
					<constructor-arg>
						<value>${memcached.standby.port}</value>
					</constructor-arg>
				  </bean>
	<bean name="memcachedClientBuilder" class="net.rubyeye.xmemcached.XMemcachedClientBuilder">
		<constructor-arg>
			<map>
              <entry>
                <key>
				  <ref bean="mainMemcachedServer"/>
				</key>
				<ref bean="standbyMemcachedServer" />
              </entry>
			</map>
		</constructor-arg>
		<constructor-arg>
			<list>
				<value>1</value>
			</list>
		</constructor-arg>
		<property name="connectionPoolSize" value="${memcached.connectionPoolSize}"></property>
		<property name="commandFactory">
			<bean class="net.rubyeye.xmemcached.command.TextCommandFactory"></bean>
		</property>
		<property name="sessionLocator">
			<bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator">
				<constructor-arg index="0">
					<value>true</value>
				</constructor-arg>
			</bean>
		</property>
		<property name="transcoder">
			<bean class="net.rubyeye.xmemcached.transcoders.SerializingTranscoder"></bean>
		</property>
	</bean>
	<bean name="xMemcachedClient" factory-bean="memcachedClientBuilder"
		factory-method="build" destroy-method="shutdown">
		<property name="opTimeout" value="5000"></property>
		<!-- <property name="enableHeartBeat" value="false"></property> -->
	</bean>
</beans>