<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="amsDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">

        <!--<property name="driverClass" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>-->
        <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="jdbcUrl"
                  value="${ams.db.url}"/>
        <property name="user" value="${ams.db.user}"/>
        <property name="password" value="${ams.db.password}"/>
        <property name="maxPoolSize" value="200"/>
        <property name="minPoolSize" value="3"/>
        <property name="initialPoolSize" value="1"/>
        <property name="maxIdleTime" value="20"/>
    </bean>

    <bean id="amsTransactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          lazy-init="default" autowire="default">
        <property name="dataSource">
            <ref bean="amsDataSource"/>
        </property>
    </bean>

   
    <bean id="amsJDBCTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="amsDataSource"/>
    </bean>

    <bean id="amsJDBCDao" class="com.brc.system.data.impl.SQLServerJDBCDaoImpl">
        <property name="jdbcTemplate" ref="amsJDBCTemplate"/>
    </bean>

</beans>
