<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="leaveService" class="com.brc.demo.hr.leave.service.impl.LeaveServiceImpl">
		<property name="serviceUtil" ref="serviceUtil" />
<!-- 		<property name="procUnitHandlerService" ref="procUnitHandlerService" /> -->
<!-- 		<property name="workflowService" ref="workflowService" /> -->
		<property name="orgService" ref="orgService" />
		<property name="procApprovalRuleParseService" ref="procApprovalRuleParseService" />
	</bean>
	<bean id="leaveAction" scope="prototype"
		class="com.brc.demo.hr.leave.action.LeaveAction">
		<property name="leaveService" ref="leaveService" />		 
	</bean>
</beans>
