<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="com.brc.biz.app.system.service.impl.RegisterValidationCodeManager" id="registerValidationCodeManager" scope="singleton">
		<!-- 单位分钟，表示系统启动以后，延迟多长时间再进行过期检查 -->
		<property name="validationCodeCheckingDelay" value="0" />
		<!-- 单位秒钟 -->
		<property name="validationCodeCheckingPeriod" value="10" />
		<!-- 单位分钟 -->
		<property name="validationCodeExpiredTime" value="50" />
	</bean>

	<bean class="com.brc.system.token.service.impl.TokenManager" id="tokenManager" scope="singleton">
	</bean> 
	<bean id="problemWebService" class="com.brc.biz.pm.relation.problem.webservice.impl.ProblemWebServiceImpl">
	</bean>	
</beans>