<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="approvalRuleService" class="com.brc.system.configtool.service.impl.ApprovalRuleServiceImpl">
		<property name="serviceUtil" ref="serviceUtil" />
		<property name="processManageService" ref="processManageService" />
		<property name="getPermission" ref="getPermission"/>
		<property name="procApprovalRuleParseService" ref="procApprovalRuleParseService"/>
	</bean>
	<bean id="approvalRuleAction" scope="prototype" class="com.brc.system.configtool.action.ApprovalRuleAction">
		<property name="approvalRuleService" ref="approvalRuleService" />
		<property name="processManageService" ref="processManageService" />
	</bean>
	<bean id="flowTaskHandlerManageService" class="com.brc.system.configtool.service.impl.FlowTaskHandlerManageServiceImpl">
		<property name="serviceUtil" ref="serviceUtil" />
	</bean>
	<bean id="flowTaskHandlerManageAction" scope="prototype" class="com.brc.system.configtool.action.FlowTaskHandlerManageAction">
		<property name="flowTaskHandlerManageService" ref="flowTaskHandlerManageService" />
		<property name="procUnitHandlerService" ref="procUnitHandlerService" />
	</bean>	
	<bean id="segmentationService" class="com.brc.system.configtool.service.impl.SegmentationServiceImpl">
		<property name="serviceUtil" ref="serviceUtil" />
	</bean>
	<bean id="segmentationAction" scope="prototype" class="com.brc.system.configtool.action.SegmentationAction">
		<property name="segmentationService" ref="segmentationService" />
	</bean>	
</beans>
