<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>

	<!--配置ApplicationContent -->
	<bean name="webApplicationContext" class="com.brc.pa.util.WebApplicationContext"/>

	<!-- mapper（DAO）配置 -->
	<bean name="transactionDefineMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.basedata.mapper.TransactionDefineMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="eventDefineMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.basedata.mapper.EventDefineMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="variableDefineMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.basedata.mapper.VariableDefineMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="functionDefineMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.basedata.mapper.FunctionDefineMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="contractClassificationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.basedata.mapper.ContractClassificationMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="documentClassificationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.basedata.mapper.DocumentClassificationMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="fileTemplateMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.basedata.mapper.FileTemplateMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>  
	<bean name="resourcePermissionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.basedata.mapper.ResourcePermissionMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean> 
	<bean name="nodeDefineMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.NodeDefineMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean> 
	<bean name="projectTemplateMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.ProjectTemplateMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="projectNodeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.ProjectNodeMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="nodeDocumentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.NodeDocumentMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="nodeFunctionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.NodeFunctionMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean> 
	<bean name="nodeEventMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.NodeEventMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="nodeVariableMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.NodeVariableMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="nodePermissionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.NodePermissionMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="nodeProcMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.NodeProcMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="nodeTransactionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.NodeTransactionMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="nodeRelationshipMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.NodeRelationshipMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean> 
	<bean name="projectVariableMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.ProjectVariableMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="transactionHandleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.TransactionHandleMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="transactionCommentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.TransactionCommentMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="projectImplementationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectmanage.mapper.ProjectImplementationMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="attachmentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectmanage.mapper.AttachmentMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean name="contractMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="com.brc.pa.projectdata.mapper.ContractMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<!-- Service 配置 -->
	<bean name="transactionDefineService" class="com.brc.pa.basedata.service.impl.TransactionDefineServiceImpl">
		<property name="transactionDefineMapper" ref="transactionDefineMapper"></property>
		<property name="nodeTransactionMapper" ref="nodeTransactionMapper"></property>
		<property name="transactionHandleMapper" ref="transactionHandleMapper"></property>
	</bean>
	<bean name="eventDefineService" class="com.brc.pa.basedata.service.impl.EventDefineServiceImpl">
		<property name="eventDefineMapper" ref="eventDefineMapper"></property>
		<property name="nodeEventMapper" ref="nodeEventMapper"></property>
	</bean>
	<bean name="variableDefineService" class="com.brc.pa.basedata.service.impl.VariableDefineServiceImpl">
		<property name="variableDefineMapper" ref="variableDefineMapper"></property>
		<property name="nodeVariableMapper" ref="nodeVariableMapper"></property>		
		<property name="projectVariableMapper" ref="projectVariableMapper"></property>
	</bean>
	<bean name="functionDefineService" class="com.brc.pa.basedata.service.impl.FunctionDefineServiceImpl">
		<property name="functionDefineMapper" ref="functionDefineMapper"></property>
		<property name="nodeFunctionMapper" ref="nodeFunctionMapper"></property>
	</bean>
	<bean name="contractClassificationService"
		class="com.brc.pa.basedata.service.impl.ContractClassificationServiceImpl">
		<property name="contractClassificationMapper" ref="contractClassificationMapper"></property>
	</bean>
	<bean name="documentClassificationService"
		class="com.brc.pa.basedata.service.impl.DocumentClassificationServiceImpl">
		<property name="documentClassificationMapper" ref="documentClassificationMapper"></property>
		<property name="resourcePermissionMapper" ref="resourcePermissionMapper"></property>
		<property name="nodeDocumentMapper" ref="nodeDocumentMapper"></property>
	</bean>
	<bean name="fileTemplateService" class="com.brc.pa.basedata.service.impl.FileTemplateServiceImpl">
		<property name="fileTemplateMapper" ref="fileTemplateMapper"></property>
	</bean>
	<bean name="projectDataService" class="com.brc.pa.projectdata.service.impl.ProjectDataServiceImpl">
		<property name="projectTemplateMapper" ref="projectTemplateMapper"></property>
		<property name="projectNodeMapper" ref="projectNodeMapper"></property>
		<property name="nodeDefineMapper" ref="nodeDefineMapper"></property>
		<property name="projectService" ref="projectService"></property>
		<property name="nodeTransactionMapper" ref="nodeTransactionMapper"></property>
		<property name="nodeDocumentMapper" ref="nodeDocumentMapper"></property>
		<property name="nodeFunctionMapper" ref="nodeFunctionMapper"></property>
		<property name="nodeProcMapper" ref="nodeProcMapper"></property>
		<property name="projectVariableMapper" ref="projectVariableMapper"></property>
		<property name="nodeEventMapper" ref="nodeEventMapper"></property>
		<property name="nodeRelationshipMapper" ref="nodeRelationshipMapper"></property>
		<property name="nodePermissionMapper" ref="nodePermissionMapper"></property>
		<property name="nodeVariableMapper" ref="nodeVariableMapper"></property>
		<property name="transactionHandleMapper" ref="transactionHandleMapper"></property>
		<property name="orgService" ref="orgService"></property> 
	</bean>
	<bean name="nodeDefineService" class="com.brc.pa.projectdata.service.impl.NodeDefineServiceImpl">
		<property name="nodeDefineMapper" ref="nodeDefineMapper"></property>
	</bean>
	<bean name="nodeManageService" class="com.brc.pa.projectdata.service.impl.NodeManageServiceImpl">
		<property name="nodeDocumentMapper" ref="nodeDocumentMapper"></property>
		<property name="nodeFunctionMapper" ref="nodeFunctionMapper"></property>
		<property name="nodePermissionMapper" ref="nodePermissionMapper"></property>
		<property name="nodeVariableMapper" ref="nodeVariableMapper"></property>
		<property name="nodeEventMapper" ref="nodeEventMapper"></property>
		<property name="nodeProcMapper" ref="nodeProcMapper"></property>
		<property name="nodeTransactionMapper" ref="nodeTransactionMapper"></property>
		<property name="nodeRelationshipMapper" ref="nodeRelationshipMapper"></property>
		<property name="projectNodeMapper" ref="projectNodeMapper"></property>
		<property name="nodeDefineMapper" ref="nodeDefineMapper"></property>
		<property name="projectService" ref="projectService"></property>
		<property name="resourcePermissionMapper" ref="resourcePermissionMapper"></property>
		<property name="orgFun" ref="orgFun"></property>
	</bean>
	<bean name="projectVariableService" class="com.brc.pa.projectdata.service.impl.ProjectVariableServiceImpl">
		<property name="projectVariableMapper" ref="projectVariableMapper"></property>
	</bean> 
	<bean name="projectResourceService" class="com.brc.pa.projectdata.service.impl.ProjectResourceServiceImpl">
		<property name="projectDataService" ref="projectDataService"></property>
		<property name="contractMapper" ref="contractMapper"></property>
		<property name="contractClassificationService" ref="contractClassificationService"></property>
	</bean> 
	<bean name="projectEngine" class="com.brc.pa.projectmanage.service.impl.ProjectEngineImpl">
		<property name="projectNodeMapper" ref="projectNodeMapper"></property>
		<property name="projectService" ref="projectService"></property>
		<property name="projectImplementationMapper" ref="projectImplementationMapper"></property>
		<property name="eventParse" ref="eventParse"></property>
		<property name="nodeDrive" ref="nodeDrive"></property>
		<property name="nodeDocumentService" ref="nodeDocumentService"></property>
		<property name="transactionHandleMapper" ref="transactionHandleMapper"></property>
		<property name="nodeRelationshipMapper" ref="nodeRelationshipMapper"></property>
        <property name="nodeFunctionMapper" ref="nodeFunctionMapper"></property>
        <property name="nodePermissionMapper" ref="nodePermissionMapper"></property>
        <property name="functionDefineMapper" ref="functionDefineMapper"></property>
<!--         <property name="workflowService" ref="workflowService"></property> -->
        <property name="orgFun" ref="orgFun"></property>
		<property name="webApplicationContext" ref="webApplicationContext"></property>
	</bean>
	<bean name="projectManageService" class="com.brc.pa.projectmanage.service.impl.ProjectManageServiceImpl">
		<property name="projectNodeMapper" ref="projectNodeMapper"></property> 
		<property name="nodeFunctionMapper" ref="nodeFunctionMapper"></property> 
		<property name="functionDefineMapper" ref="functionDefineMapper"></property>
		<property name="projectImplementationMapper" ref="projectImplementationMapper"></property>
		<property name="attachmentMapper" ref="attachmentMapper"></property>
		<property name="nodeDocumentMapper" ref="nodeDocumentMapper"></property>
		<property name="documentClassificationMapper" ref="documentClassificationMapper"></property>
		<property name="orgFun" ref="orgFun"></property>
	</bean>
	<bean name="transactionHandleService" class="com.brc.pa.projectdata.service.impl.TransactionHandleServiceImpl">
		<property name="transactionHandleMapper" ref="transactionHandleMapper"></property>
		<property name="transactionCommentMapper" ref="transactionCommentMapper"></property>
	</bean> 
	<bean name="eventParse" class="com.brc.pa.projectmanage.service.delegate.event.impl.EventParseImpl">
		<property name="nodeEventMapper" ref="nodeEventMapper"></property>
		<property name="eventDefineMapper" ref="eventDefineMapper"></property>
		<property name="webApplicationContext" ref="webApplicationContext"></property>		
		<property name="nodeVariableMapper" ref="nodeVariableMapper"></property> 
		<property name="projectVariableMapper" ref="projectVariableMapper"></property>
        <property name="projectEntity" ref="projectEntity"></property>
        <property name="projectNodeEntity" ref="projectNodeEntity"></property>
        <property name="variableEntity" ref="variableEntity"></property>
	</bean>	
	<bean name="nodeDrive" class="com.brc.pa.projectmanage.service.drive.impl.NodeDriveImpl">
		<property name="nodeRelationshipMapper" ref="nodeRelationshipMapper"></property>
		<property name="projectNodeMapper" ref="projectNodeMapper"></property>
	</bean>
    <bean name="variableScope" class="com.brc.pa.projectmanage.service.delegate.impl.VariableScopeImpl">
        <property name="projectVariableMapper" ref="projectVariableMapper"></property>
        <property name="nodeVariableMapper" ref="nodeVariableMapper"></property>
        <property name="variableDefineMapper" ref="variableDefineMapper"></property>
        <property name="eventParse" ref="eventParse"></property>
    </bean>
    <bean name="projectEntity" class="com.brc.pa.projectmanage.service.delegate.impl.ProjectEntity">
        <property name="projectVariableMapper" ref="projectVariableMapper"></property>
        <property name="nodeVariableMapper" ref="nodeVariableMapper"></property>
        <property name="variableDefineMapper" ref="variableDefineMapper"></property>
        <property name="eventParse" ref="eventParse"></property>
    </bean>
    <bean name="projectNodeEntity" class="com.brc.pa.projectmanage.service.delegate.impl.ProjectNodeEntity">
        <property name="projectVariableMapper" ref="projectVariableMapper"></property>
        <property name="nodeVariableMapper" ref="nodeVariableMapper"></property>
        <property name="variableDefineMapper" ref="variableDefineMapper"></property>
        <property name="eventParse" ref="eventParse"></property>
    </bean>
    <bean name="variableEntity" class="com.brc.pa.projectmanage.service.delegate.impl.VariableEntity">
        <property name="projectVariableMapper" ref="projectVariableMapper"></property>
        <property name="nodeVariableMapper" ref="nodeVariableMapper"></property>
        <property name="variableDefineMapper" ref="variableDefineMapper"></property>
        <property name="eventParse" ref="eventParse"></property>
    </bean>
	<bean name="nodeDocumentService" class="com.brc.pa.projectmanage.service.document.impl.NodeDocumentServiceImpl">
		<property name="nodeDocumentMapper" ref="nodeDocumentMapper"></property>
		<property name="documentClassificationMapper" ref="documentClassificationMapper"></property> 
		<property name="attachmentMapper" ref="attachmentMapper"></property> 
	</bean>

	<!-- Action 配置 -->
	<bean name="transactionDefineAction" class="com.brc.pa.basedata.action.TransactionDefineAction">
		<property name="transactionDefineService" ref="transactionDefineService"></property>
	</bean>
	<bean name="eventDefineAction" class="com.brc.pa.basedata.action.EventDefineAction">
		<property name="eventDefineService" ref="eventDefineService"></property>
	</bean>
	<bean name="variableDefineAction" class="com.brc.pa.basedata.action.VariableDefineAction">
		<property name="variableDefineService" ref="variableDefineService"></property>
	</bean>
	<bean name="functionDefineAction" class="com.brc.pa.basedata.action.FunctionDefineAction">
		<property name="functionDefineService" ref="functionDefineService"></property>
	</bean>
	<bean name="contractClassificationAction" class="com.brc.pa.basedata.action.ContractClassificationAction">
		<property name="contractClassificationService" ref="contractClassificationService"></property>
	</bean>
	<bean name="documentClassificationAction" class="com.brc.pa.basedata.action.DocumentClassificationAction">
		<property name="documentClassificationService" ref="documentClassificationService"></property>
	</bean>
	<bean name="fileTemplateAction" class="com.brc.pa.basedata.action.FileTemplateAction">
		<property name="fileTemplateService" ref="fileTemplateService"></property>
	</bean> 
	<bean name="projectTemplateConfigAction" class="com.brc.pa.projectdata.action.ProjectTemplateConfigAction">
		<property name="projectDataService" ref="projectDataService"></property>
	</bean>
	<bean name="projectNodeAction" class="com.brc.pa.projectdata.action.ProjectNodeAction">
		<property name="projectDataService" ref="projectDataService"></property>
	</bean>
	<bean name="nodeDefineAction" class="com.brc.pa.projectdata.action.NodeDefineAction">
		<property name="nodeDefineService" ref="nodeDefineService"></property>
	</bean>  
	<bean name="nodeDocumentAction" class="com.brc.pa.projectdata.action.NodeDocumentAction">
		<property name="nodeManageService" ref="nodeManageService"></property>
	</bean>
	<bean name="nodeFunctionAction" class="com.brc.pa.projectdata.action.NodeFunctionAction">
		<property name="nodeManageService" ref="nodeManageService"></property>
	</bean> 
	<bean name="nodeEventAction" class="com.brc.pa.projectdata.action.NodeEventAction">
		<property name="nodeManageService" ref="nodeManageService"></property>
	</bean>
	<bean name="nodeVariableAction" class="com.brc.pa.projectdata.action.NodeVariableAction">
		<property name="nodeManageService" ref="nodeManageService"></property>
	</bean>
	<bean name="nodePermissionAction" class="com.brc.pa.projectdata.action.NodePermissionAction">
		<property name="nodeManageService" ref="nodeManageService"></property>
	</bean>
	<bean name="nodeProcAction" class="com.brc.pa.projectdata.action.NodeProcAction">
		<property name="nodeManageService" ref="nodeManageService"></property>
	</bean>
	<bean name="nodeTransactionAction" class="com.brc.pa.projectdata.action.NodeTransactionAction">
		<property name="nodeManageService" ref="nodeManageService"></property>
	</bean>
	<bean name="nodeRelationshipAction" class="com.brc.pa.projectdata.action.NodeRelationshipAction">
		<property name="nodeManageService" ref="nodeManageService"></property>
		<property name="projectDataService" ref="projectDataService"></property>
	</bean>
	<bean name="projectConfigAction" class="com.brc.pa.projectdata.action.ProjectConfigAction">
		<property name="projectDataService" ref="projectDataService"></property>
	</bean>
	<bean name="projectVariableAction" class="com.brc.pa.projectdata.action.ProjectVariableAction">
		<property name="projectVariableService" ref="projectVariableService"></property>
	</bean>	
	<bean name="projectExecuteAction" class="com.brc.pa.projectmanage.action.ProjectExecuteAction">
		<property name="projectDataService" ref="projectDataService"></property>
	</bean> 
	<bean name="projectMainAction" class="com.brc.pa.projectmanage.action.ProjectMainAction">
		<property name="projectDataService" ref="projectDataService"></property>
		<property name="projectManageService" ref="projectManageService"></property>
		<property name="projectEngine" ref="projectEngine"></property>
	</bean> 
	<bean name="projectNodeMainAction" class="com.brc.pa.projectmanage.action.ProjectNodeMainAction">
		<property name="projectDataService" ref="projectDataService"></property>
		<property name="projectManageService" ref="projectManageService"></property>
		<property name="projectEngine" ref="projectEngine"></property>
	</bean>
	<bean name="transactionHandleAction" class="com.brc.pa.projectdata.action.TransactionHandleAction">
		<property name="transactionHandleService" ref="transactionHandleService"></property>
	</bean>
	<bean name="transactionCommentAction" class="com.brc.pa.projectdata.action.TransactionCommentAction">
		<property name="transactionHandleService" ref="transactionHandleService"></property>
	</bean> 	
	<bean name="contractAction" class="com.brc.pa.projectdata.action.ContractAction">
		<property name="projectResourceService" ref="projectResourceService"></property>
		<property name="projectDataService" ref="projectDataService"></property>
	</bean>	
	<bean name="projectPreviewAction" class="com.brc.pa.projectmanage.action.ProjectPreviewAction">
		<property name="projectManageService" ref="projectManageService"></property>
		<property name="projectDataService" ref="projectDataService"></property>
	</bean>
	<bean name="projectViewContractAction" class="com.brc.pa.projectmanage.action.ProjectViewContractAction">
		<property name="projectResourceService" ref="projectResourceService"></property>
	</bean>
	<bean name="projectViewTransactionAction" class="com.brc.pa.projectmanage.action.ProjectViewTransactionAction">
		<property name="transactionHandleService" ref="transactionHandleService"></property>
	</bean>
</beans> 
