<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<bean id="sysLogDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="jdbcUrl" value="${log.db.url}" />
		<!-- 指定连接数据库的用户名 -->
		<property name="user" value="${log.db.user}" />
		<!-- 指定连接数据库的密码 -->
		<property name="password" value="${log.db.password}" />
		<!-- 指定连接数据库连接池的最大连接数 -->
		<property name="maxPoolSize" value="10" />
		<!-- 指定连接数据库连接池的最小连接数 -->
		<property name="minPoolSize" value="3" />
		<!-- 指定连接数据库连接池的初始化连接数 -->
		<property name="initialPoolSize" value="1" />
		<!-- 指定连接数据库连接池的连接的最大空闲时间 -->
		<property name="maxIdleTime" value="20" />
	</bean>

	<bean id="sysLogTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		lazy-init="default" autowire="default">
		<property name="dataSource">
			<ref bean="sysLogDataSource" />
		</property>
	</bean>
	
	<bean id="sysLogJDBCTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="sysLogDataSource" />
	</bean>
	<bean id="sysLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true" />
	
	<bean id="sysLogJDBCDao" class="com.brc.system.data.impl.JDBCDaoImpl">
		<property name="jdbcTemplate" ref="sysLogJDBCTemplate" />
		<property name="lobHandler" ref="sysLobHandler"/>
	</bean>
    
	<bean id="sysLogService" class="com.brc.system.log.service.impl.SysLogServiceImpl">
		 <property name="dao" ref="sysLogJDBCDao" /> 
		 <!--
		 <property name="transactionManager" ref="sysLogTransactionManager" /> 
		 -->
	</bean>
	
	<bean id="sysLogHelp" class="com.brc.system.log.SysLogHelp">
		 <property name="sysLogService" ref="sysLogService" /> 
		 <property name="excludes">
           <list>
               <value>com.brc.system.share.service.impl.SQLQueryImpl</value>
           </list>
       </property>
	</bean>
	
	<aop:config>
		<aop:aspect id="savelogAspect" ref="sysLogHelp">
			<aop:pointcut id="businessService" expression="execution(public * com.brc.*..service.*.*(..))" />
			<aop:after-throwing pointcut-ref="businessService" method="doThrowing" throwing="ex"/>  
		</aop:aspect>
	</aop:config>

	<bean id="sysLogAction" scope="prototype" class="com.brc.system.log.action.SysLogAction">
		<property name="sysLogService" ref="sysLogService" />
	</bean>
</beans>
