<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="noteSend" class="com.brc.message.impl.NoteSendImpl"/>
	<bean id="emailSend" class="com.brc.message.impl.EmailSendImpl"/>
	<bean id="clientMessageSend" class="com.brc.message.impl.ClientMessageOCImpl"/>
	
	<bean id="messageSend" class="com.brc.message.impl.MessageSendImpl">
		<property name="serviceUtil" ref="serviceUtil" />
		<property name="emailSend" ref="emailSend" />
		<property name="noteSend" ref="noteSend" />
		<property name="clientMessageSend" ref="clientMessageSend" />
		<property name="perCycleMaxCount" value="100" />
		<property name="repeatDoCount" value="3" />
	</bean>
	
	
</beans>