<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 
    <bean id="weixinSetupService" class="com.brc.system.weixin.service.impl.WeixinSetupServiceImpl" scope="prototype">
          <property name="serviceUtil" ref="serviceUtil"/>
    </bean>
    
    <bean id="weixinSetupAction" class="com.brc.system.weixin.action.WeixinSetupAction" scope ="prototype">
        <property name="weixinSetupService" ref="weixinSetupService"/>
    </bean>
    
    <bean id="weixinMessageSendService" class="com.brc.system.weixin.service.impl.WeixinMessageSendServiceImpl" scope="prototype">
          <property name="serviceUtil" ref="serviceUtil"/>
          <property name="wxCpService" ref="wxCpService"/>
          <property name="weixinSetupService" ref="weixinSetupService"/>
          <property name="agentId" value="3"/>
    </bean>
    
    <bean id="weixinMessageSendAction" class="com.brc.system.weixin.action.WeixinMessageSendAction" scope ="prototype">
        <property name="weixinMessageSendService" ref="weixinMessageSendService"/>
    </bean> -->
</beans>