<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brc.pa.basedata.mapper.TransactionDefineMapper">
	<insert id="insert" parameterType="transactionDefine">
		INSERT INTO PA_TRANSACTION_DEFINE(TRANSACTION_DEFINE_ID, NODE_KIND_ID, PARENT_ID, NAME, TIME_LIMIT, DESCRIPTION,
		FULL_ID, SEQUENCE, VERSION)
		VALUES(PA_ID_SEQ.nextval,${nodeKindId}, ${parentId}, #{name, jdbcType=VARCHAR}, ${timeLimit}, #{description, jdbcType=VARCHAR},
		#{fullId, jdbcType=VARCHAR}||'/'||PA_ID_SEQ.nextval,
		${sequence}, PA_VERSION_SEQ.nextval)
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO PA_TRANSACTION_DEFINE(TRANSACTION_DEFINE_ID, NODE_KIND_ID, PARENT_ID, NAME, TIME_LIMIT, DESCRIPTION, FULL_ID, SEQUENCE, VERSION)
		SELECT
		PA_ID_SEQ.nextval,t.*,PA_VERSION_SEQ.nextval FROM (
		<foreach collection="list" item="item" index="index" separator="UNION ALL">
			SELECT ${item.nodeKindId} as NODE_KIND_ID, ${item.parentId} as PARENT_ID, #{item.name,
			jdbcType=VARCHAR} as NAME, ${item.timeLimit} as TIME_LIMIT,
			#{item.description, jdbcType=VARCHAR} as DESCRIPTION, #{item.fullId, jdbcType=VARCHAR} as FULL_ID,
			${item.sequence} as SEQUENCE FROM DUAL
		</foreach>
		) t
	</insert>


	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM PA_TRANSACTION_DEFINE WHERE TRANSACTION_DEFINE_ID = #{transactionDefineId}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM PA_TRANSACTION_DEFINE WHERE TRANSACTION_DEFINE_ID IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="update" parameterType="transactionDefine">
		UPDATE PA_TRANSACTION_DEFINE
		<set>
			<if test="nodeKindId != null">
				NODE_KIND_ID=${nodeKindId},
			</if>
			<if test="parentId != null">
				PARENT_ID=${parentId},
			</if>
			<if test="name != null">
				NAME=#{name, jdbcType=VARCHAR},
			</if>
			<if test="timeLimit != null">
				TIME_LIMIT=${timeLimit},
			</if>
			<if test="description != null">
				DESCRIPTION=#{description, jdbcType=VARCHAR},
			</if>
			<if test="fullId != null">
				FULL_ID=#{fullId, jdbcType=VARCHAR},
			</if>
			<if test="sequence != null">
				SEQUENCE=${sequence},
			</if>
		</set>
		WHERE TRANSACTION_DEFINE_ID = #{transactionDefineId}
	</update>

	<update id="updateSequence" parameterType="transactionDefine">
		UPDATE PA_TRANSACTION_DEFINE SET SEQUENCE = #{sequence}
		WHERE TRANSACTION_DEFINE_ID = #{transactionDefineId}
	</update>

	<update id="move" parameterType="transactionDefine">
		update PA_TRANSACTION_DEFINE set PARENT_ID = ${parentId},FULL_ID = #{fullId} where
		TRANSACTION_DEFINE_ID=${transactionDefineId}
	</update>

	<select id="load" parameterType="java.lang.Long" resultType="transactionDefine">
		SELECT TRANSACTION_DEFINE_ID as transactionDefineId, NODE_KIND_ID as nodeKindId, PARENT_ID
		as parentId, NAME as name, TIME_LIMIT as timeLimit, DESCRIPTION as
		description, FULL_ID as fullId, SEQUENCE as sequence, VERSION as version FROM
		PA_TRANSACTION_DEFINE WHERE TRANSACTION_DEFINE_ID=#{transactionDefineId}
	</select>

	<select id="queryAll" parameterType="java.util.Map" resultType="transactionDefine">
		SELECT TRANSACTION_DEFINE_ID as transactionDefineId, NODE_KIND_ID as nodeKindId, PARENT_ID as parentId, NAME as
		name, TIME_LIMIT as timeLimit, DESCRIPTION as
		description, FULL_ID as fullId, SEQUENCE as sequence, VERSION as
		version FROM PA_TRANSACTION_DEFINE
		<where>
			<if test="nodeKindId != null and nodeKindId > 0">
				AND NODE_KIND_ID = #{nodeKindId}
			</if>
			<if test="fullId != null">
				AND FULL_ID like concat(#{fullId},'%')
			</if>
			<if test="parentId != null and parentId > -1">
				AND PARENT_ID = #{parentId}
			</if>
			<if test="name != null">
				AND name like concat(concat('%', #{name}),'%')
			</if>
		</where>
		ORDER BY SEQUENCE ASC
	</select>

	<select id="slicedQuery" parameterType="java.util.Map" resultType="transactionDefine">
		<!-- SELECT TRANSACTION_DEFINE_ID as transactionDefineId, NODE_KIND_ID as nodeKindId, PARENT_ID as parentId, NAME as name, TIME_LIMIT as timeLimit, DESCRIPTION 
			as description, FULL_ID as fullId, SEQUENCE as sequence, VERSION as version FROM PA_TRANSACTION_DEFINE ORDER BY ${sortname} ${sortorder} OFFSET (${page}-1)*${pagesize} 
			ROWS FETCH NEXT ${pagesize} ROWS ONLY -->
		SELECT TRANSACTION_DEFINE_ID as transactionDefineId, NODE_KIND_ID as nodeKindId, PARENT_ID as parentId, NAME as name, TIME_LIMIT as timeLimit, DESCRIPTION as
		description, FULL_ID as fullId, SEQUENCE as sequence, VERSION as version FROM (select t.TRANSACTION_DEFINE_ID, t.NODE_KIND_ID, t.PARENT_ID, t.NAME, t.TIME_LIMIT, t.DESCRIPTION, t.FULL_ID, t.SEQUENCE, t.VERSION,ROWNUM RN FROM PA_TRANSACTION_DEFINE t
		<where>
			<if test="fullId != null">
				AND FULL_ID like concat(#{fullId},'%')
			</if>
			<if test="name != null">
				AND name like concat(concat('%', #{name}),'%')
			</if>
			<if test="nodeKindId != null  and nodeKindId > 0 ">
				AND node_kind_id = #{nodeKindId}
			</if>
			<if test="parentId != null and parentId > -1">
				AND PARENT_ID = #{parentId}
			</if>
		</where>
		ORDER BY ${sortname} ${sortorder}
		)
		WHERE RN > (${page}-1)*${pagesize} AND RN &lt;= ${page}*${pagesize}

	</select>

	<select id="getRecordCount" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT COUNT(0) FROM PA_TRANSACTION_DEFINE
		<where>
			<if test="nodeKindId != null and nodeKindId > 0">
				AND NODE_KIND_ID = #{nodeKindId}
			</if>
			<if test="fullId != null">
				AND FULL_ID like concat(#{fullId},'%')
			</if>
			<if test="parentId != null and parentId > -1">
				AND PARENT_ID = #{parentId}
			</if>
			<if test="name != null">
				AND name like concat(concat('%', #{name}),'%')
			</if>
		</where>
	</select>

	<select id="getNextSequence" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT NVL(MAX(SEQUENCE),0) + 1 FROM PA_TRANSACTION_DEFINE WHERE PARENT_ID =
		${parentId}
	</select>

</mapper>