<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.brc.pa.basedata.domain.TransactionDefine" alias="transactionDefine"></typeAlias>
		<typeAlias type="com.brc.pa.basedata.domain.EventDefine" alias="eventDefine"></typeAlias>
		<typeAlias type="com.brc.pa.basedata.domain.ContractClassification" alias="contractClassification"></typeAlias>
		<typeAlias type="com.brc.pa.basedata.domain.DocumentClassification" alias="documentClassification"></typeAlias>
		<typeAlias type="com.brc.pa.basedata.domain.FileTemplate" alias="fileTemplate"></typeAlias>
		<typeAlias type="com.brc.pa.basedata.domain.FunctionDefine" alias="functionDefine"></typeAlias>
		<typeAlias type="com.brc.pa.basedata.domain.ResourcePermission" alias="resourcePermission"></typeAlias>
		<typeAlias type="com.brc.pa.basedata.domain.VariableDefine" alias="variableDefine"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.ProjectTemplate" alias="projectTemplate"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.ProjectNode" alias="projectNode"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.NodeDefine" alias="nodeDefine"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.NodeDocument" alias="nodeDocument"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.NodeFunction" alias="nodeFunction"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.NodeEvent" alias="nodeEvent"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.NodeVariable" alias="nodeVariable"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.NodePermission" alias="nodePermission"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.NodeProc" alias="nodeProc"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.NodeTransaction" alias="nodeTransaction"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.NodeRelationship" alias="nodeRelationship"></typeAlias> 
		<typeAlias type="com.brc.pa.projectdata.domain.ProjectVariable" alias="projectVariable"></typeAlias>
		<typeAlias type="com.brc.pa.projectmanage.domain.ProjectImplementation" alias="projectImplementation"></typeAlias>
		<typeAlias type="com.brc.pa.projectmanage.domain.Attachment" alias="attachment"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.TransactionHandle" alias="transactionHandle"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.TransactionComment" alias="transactionComment"></typeAlias>
		<typeAlias type="com.brc.pa.projectdata.domain.Contract" alias="contract"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="config/mapper/brc/pa/basedata/TransactionDefineMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/basedata/EventDefineMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/basedata/ContractClassificationMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/basedata/DocumentClassificationMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/basedata/FileTemplateMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/basedata/FunctionDefineMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/basedata/VariableDefineMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/basedata/ResourcePermissionMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/ProjectTemplateMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/ProjectNodeMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/NodeDefineMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/NodeDocumentMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/NodeFunctionMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/NodeEventMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/NodeVariableMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/NodePermissionMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/NodeProcMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/NodeTransactionMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/NodeRelationshipMapper.xml"></mapper> 
		<mapper resource="config/mapper/brc/pa/projectdata/ProjectVariableMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectmanage/ProjectImplementationMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectmanage/AttachmentMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/TransactionHandleMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/TransactionCommentMapper.xml"></mapper>
		<mapper resource="config/mapper/brc/pa/projectdata/ContractMapper.xml"></mapper>
	</mappers>
</configuration>