<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brc.pa.basedata.mapper.ResourcePermissionMapper">
	<insert id="insert" parameterType="resourcePermission">
		INSERT INTO PA_RESOURCE_PERMISSION(RESOURCE_PERMISSION_ID, DOCUMENT_CLASSIFICATION_ID, OBJECT_KIND_ID, OBJECT_ID)
		VALUES(PA_ID_SEQ.nextval,${documentClassificationId}, ${objectKindId}, #{objectId, jdbcType=NVARCHAR})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO PA_RESOURCE_PERMISSION(RESOURCE_PERMISSION_ID, DOCUMENT_CLASSIFICATION_ID, OBJECT_KIND_ID, OBJECT_ID)
		SELECT PA_ID_SEQ.nextval,t.* FROM (
		<foreach collection="list" item="item" index="index" separator="UNION ALL">
			SELECT ${item.documentClassificationId} as DOCUMENT_CLASSIFICATION_ID,
			${item.objectKindId} as OBJECT_KIND_ID, #{item.objectId, jdbcType=NVARCHAR} as OBJECT_ID
			FROM DUAL
		</foreach>
		) t
	</insert>


	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM PA_RESOURCE_PERMISSION WHERE RESOURCE_PERMISSION_ID = #{resourcePermissionId}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM PA_RESOURCE_PERMISSION WHERE RESOURCE_PERMISSION_ID IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="update" parameterType="resourcePermission">
		UPDATE PA_RESOURCE_PERMISSION
		<set>
			<if test="documentClassificationId != null">
				DOCUMENT_CLASSIFICATION_ID=${documentClassificationId},
			</if>
			<if test="objectKindId != null">
				OBJECT_KIND_ID=${objectKindId},
			</if>
			<if test="objectId != null">
				OBJECT_ID=#{objectId, jdbcType=NVARCHAR},
			</if>
		</set>
		WHERE RESOURCE_PERMISSION_ID = #{resourcePermissionId}
	</update>

	<select id="queryAll" parameterType="java.util.Map" resultType="resourcePermission">
		SELECT t.RESOURCE_PERMISSION_ID as resourcePermissionId,t.DOCUMENT_CLASSIFICATION_ID as
		documentClassificationId,t.OBJECT_KIND_ID as objectKindId,t.OBJECT_ID
		as objectId FROM PA_RESOURCE_PERMISSION t
		<where>
			<if test="documentClassificationId != null and documentClassificationId > 0">
				AND t.DOCUMENT_CLASSIFICATION_ID = ${documentClassificationId}
			</if>
			<if test="objectKindId != null and objectKindId >= 0">
				AND t.OBJECT_KIND_ID = ${objectKindId}
			</if>
			<if test="objectId != null">
				AND t.OBJECT_ID = #{objectId}
			</if>
		</where>
	</select>

	<select id="slicedQuery" parameterType="java.util.Map" resultType="resourcePermission">
		<!-- 
		SELECT t.RESOURCE_PERMISSION_ID as resourcePermissionId,t.DOCUMENT_CLASSIFICATION_ID as
		documentClassificationId,t.OBJECT_KIND_ID as objectKindId,t.OBJECT_ID
		as objectId,t1.NAME as name,t1.FULL_NAME
		as fullName FROM PA_RESOURCE_PERMISSION t,SA_OPORG t1
		
		ORDER BY resourcePermissionId OFFSET (${page}-1)*${pagesize} ROWS FETCH NEXT #{pagesize} ROWS ONLY
		 -->
		SELECT RESOURCE_PERMISSION_ID as resourcePermissionId, DOCUMENT_CLASSIFICATION_ID as documentClassificationId, OBJECT_KIND_ID as objectKindId, OBJECT_ID as objectId,NAME as name,FULL_NAME
		as fullName
		FROM (select t.RESOURCE_PERMISSION_ID, t.DOCUMENT_CLASSIFICATION_ID, t.OBJECT_KIND_ID, t.OBJECT_ID,t1.NAME,t1.FULL_NAME,ROWNUM RN FROM PA_RESOURCE_PERMISSION t,SA_OPORG t1
		<where>
			<if test="1">
				AND t.OBJECT_ID = t1.ID
			</if>
			<if test="documentClassificationId != null and documentClassificationId > 0">
				AND t.DOCUMENT_CLASSIFICATION_ID = ${documentClassificationId}
			</if>
			<if test="objectKindId != null and objectKindId >= 0">
				AND t.OBJECT_KIND_ID = ${objectKindId}
			</if>
			<if test="objectId != null">
				AND t.OBJECT_ID = #{objectId}
			</if>
			<if test="name != null">
				AND t1.NAME LIKE concat(concat('%', #{name}),'%')
			</if>
		</where>
		ORDER BY  ${sortname} ${sortorder}
		)
		WHERE RN > (${page}-1)*${pagesize} AND RN &lt;= ${page}*${pagesize}
	</select>

	<select id="getRecordCount" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT COUNT(0) FROM PA_RESOURCE_PERMISSION
		<where>
			<if test="documentClassificationId != null and documentClassificationId > 0">
				AND DOCUMENT_CLASSIFICATION_ID = ${documentClassificationId}
			</if>
			<if test="objectKindId != null and objectKindId > 0">
				AND OBJECT_KIND_ID = ${objectKindId}
			</if>
			<if test="objectId != null">
				AND OBJECT_ID = #{objectId}
			</if>
			<if test="name != null">
				AND t1.NAME LIKE concat(concat('%', #{name}),'%')
			</if>
		</where>
	</select>

	<select id="slicedQueryRole" parameterType="java.util.Map" resultType="resourcePermission">
		<!-- 
		SELECT t.RESOURCE_PERMISSION_ID as resourcePermissionId,t.DOCUMENT_CLASSIFICATION_ID as
		documentClassificationId,t.OBJECT_KIND_ID as objectKindId,t.OBJECT_ID
		as objectId,t1.NAME as name FROM
		PA_RESOURCE_PERMISSION t,SA_OPROLE t1
		
		ORDER BY resourcePermissionId OFFSET (${page}-1)*${pagesize} ROWS FETCH NEXT #{pagesize} ROWS ONLY
		 -->
		SELECT RESOURCE_PERMISSION_ID as resourcePermissionId, DOCUMENT_CLASSIFICATION_ID as documentClassificationId, OBJECT_KIND_ID as objectKindId, OBJECT_ID as objectId,NAME as name
		as fullName
		FROM (select t.RESOURCE_PERMISSION_ID, t.DOCUMENT_CLASSIFICATION_ID, t.OBJECT_KIND_ID, t.OBJECT_ID,t1.NAME,ROWNUM RN FROM PA_RESOURCE_PERMISSION t,SA_OPROLE t1
		<where>
			<if test="1">
				AND t.OBJECT_ID = t1.ID
			</if>
			<if test="documentClassificationId != null and documentClassificationId > 0">
				AND DOCUMENT_CLASSIFICATION_ID = ${documentClassificationId}
			</if>
			<if test="objectKindId != null and objectKindId >= 0">
				AND OBJECT_KIND_ID = ${objectKindId}
			</if>
			<if test="objectId != null">
				AND OBJECT_ID = #{objectId}
			</if>
			<if test="name != null">
				AND t1.NAME LIKE concat(concat('%', #{name}),'%')
			</if>
		</where>
		ORDER BY ${sortname} ${sortorder}
		)
		WHERE RN > (${page}-1)*${pagesize} AND RN &lt;= ${page}*${pagesize}
	</select>

	<select id="getRecordCountRole" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT COUNT(0) FROM PA_RESOURCE_PERMISSION
		<where>
			<if test="documentClassificationId != null and documentClassificationId > 0">
				AND DOCUMENT_CLASSIFICATION_ID = ${documentClassificationId}
			</if>
			<if test="objectKindId != null and objectKindId > 0">
				AND OBJECT_KIND_ID = ${objectKindId}
			</if>
			<if test="objectId != null">
				AND OBJECT_ID = #{objectId}
			</if>
			<if test="name != null">
				AND t1.NAME LIKE concat(concat('%', #{name}),'%')
			</if>
		</where>
	</select>

	<select id="slicedQueryForFun" parameterType="java.util.Map" resultType="resourcePermission">
		<!-- 
		select t.Resource_Permission_Id as resourcePermissionId,
		t.document_classification_id as documentClassificationId,t.object_kind_id as objectKindId,
		t.object_id as objectId,t1.name as name
		from pa_resource_permission t,SA_OPBASEFUNCTIONTYPE t1
		
		ORDER BY resourcePermissionId OFFSET (${page}-1)*${pagesize} ROWS FETCH NEXT #{pagesize} ROWS ONLY
		 -->
		 SELECT RESOURCE_PERMISSION_ID as resourcePermissionId, DOCUMENT_CLASSIFICATION_ID as documentClassificationId, OBJECT_KIND_ID as objectKindId, OBJECT_ID as objectId,NAME as name		
		FROM (select t.RESOURCE_PERMISSION_ID, t.DOCUMENT_CLASSIFICATION_ID, t.OBJECT_KIND_ID, t.OBJECT_ID,t1.NAME,'' as fullName,ROWNUM RN FROM PA_RESOURCE_PERMISSION t,SA_OPBASEFUNCTIONTYPE t1
		<where>
			t.object_id = t1.id
			<if test="documentClassificationId != null and documentClassificationId > 0">
				AND DOCUMENT_CLASSIFICATION_ID = ${documentClassificationId}
			</if>
			<if test="objectKindId != null and objectKindId >= 0">
				AND OBJECT_KIND_ID = ${objectKindId}
			</if>
			<if test="objectId != null">
				AND OBJECT_ID = #{objectId}
			</if>
			<if test="name != null">
				AND t1.name LIKE concat(concat('%', #{name}),'%')
			</if>
		</where>
		ORDER BY ${sortname} ${sortorder}
		)
		WHERE RN > (${page}-1)*${pagesize} AND RN &lt;= ${page}*${pagesize}
	</select>
</mapper>